// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.logo_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.site-title {
    font-size: 1.4em;
    color: white;
    &:visited {
        color: white;
    }
}

.site-header {
    background-color: #1B823A;
}

footer {
    background-color: #E2DCD5;
}

h3 {
    text-decoration: underline;
}