// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.logo_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.site-title {
    font-size: 1.4em;
    color: white;
    &:visited {
        color: white;
    }
}

.site-header {
    background-color: #1B823A;
}

footer {
    background-color: #E2DCD5;
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

#exhibition {
    h3 {
        font-size: 1.5em;
        @media only screen and (max-width: 768px) {
            font-size: 1.2em;
        }
    }
    p {
        font-size: 16px;
    }
}

.green-btn {
    display: inline-block;
    font-size: 1.4em;
    margin: .6em 0;
    padding: 0.3em 1.2em;
    color: #FFF;
    background: #1B823A;
    border: solid 1px 097752;
    border-radius: 4px;
    &:visited,
    &:hover {
            text-decoration: none;
        color: #FFF;
        opacity: 0.9;
    }
    @media only screen and (max-width: 768px) {
        width: 90%;
        font-size: 1.2em;
        padding: 0.3em 0.8em;
        text-align: center;
    }
}

.post-title {
    @media only screen and (max-width: 768px) {
        font-size: 1.5em;
        line-height: 1.3;
    }
}

iframe {
    width:100%;
    height: 415px;
    @media only screen and (max-width: 640px) {
        height: 260px;
    }
}
